<div class="container-fluid" ng-controller="FrontController" style="max-width:1308px">

  <!--INICIO NAVBAR-->

  <nav class="navbar navbar-static-top navbar-nomargin">
    <div class="container-fluid nav-container">
      <div class="navbar-header" style="padding-top:10px;">
        <a class="navbar-brand" href="">
            <img class="img-responsive logoCranner" src="../images/resources/logo2.png"/>
        </a>
      </div>
      <ul id="ulNavBarHeader" class="nav navbar-nav navbar-nav-custom" style="float:right">
        <li class="font-nav-bar"><a class="aNavBar" href="" ng-click="gotoAbout()">NOSOTROS</a></li>
        <li class="font-nav-bar"><a class="aNavBar" href="" ng-click="gotoProyectos()">PROYECTOS</a></li>
        <li class="font-nav-bar"><a class="aNavBar" href="" ng-click="gotoContacto()">CONTACTO</a></li>
      </ul>
    </div>
  </nav>

  <!--FIN NAVBAR-->
  <!--INICIO CAROUSEL-->

  <div class="row">
    <div class="col-sm-12" style="padding: 0px !important;">
      <div id="slides_control">
        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" no-pause>
          <uib-slide ng-repeat="banner in banners track by $index" index="$index">
            <img class="img-responsive" ng-src="../uploads/banners/{{banner.imagen}}" style="margin:auto;"/>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>

  <!--FIN CAROUSEL-->

  <!--INICIO ABOUT-->

  <div class="row">
    <div class="col-md-12">
      <div id="about">
          <div class="col-md-4 aboutLeft">
              <img class="img-responsive" ng-src="images/resources/about.png" style="max-width:115px"/>
          </div>
          <div class="col-md-8 aboutRight font-paragraph">
              <div class="innerAboutRight">
                <p><b>Sobre Nosotros</b><br />Nos especializamos en desarrollar souvenirs a medida. Surgimos como respuesta a los que buscan una propuesta novedosa con la cual poder distinguirse en su evento.</p>
                <p><b>Por qué elegirnos?</b><br/>
                   Creamos productos únicos y de gran impacto.<br />
                   Ofrecemos el mejor resultado para el presupuesto de cada cliente.<br />
                 </p>
                 <p>
                    <b>Equipo</b><br />
                    <div class="row">
                      <div class="col-xs-6 divAboutLinks">
                        <a href ng-click="openLinkedinDiego()" class="aboutLinks">
                          <img src="../images/resources/disenio.png" onmouseover="this.src='../images/resources/disenio_hover.png'" onmouseout="this.src='../images/resources/disenio.png'" class="img-responsive" id="imgDisenio" style="max-width:111px;"/>
                        </a>
                      </div>
                      <div class="col-xs-6 divAboutLinks">
                        <a href ng-click="openLinkedinFran()" class="aboutLinks">
                          <img src="../images/resources/ventas.png" onmouseover="this.src='../images/resources/ventas_hover.png'" onmouseout="this.src='../images/resources/ventas.png'" class="img-responsive" id="imgVentas" style="max-width:111px;"/>
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 divAboutLinks divDisenioNom">
                        <b><label class="labelDisenioNom">Diego Vidili</label></b>
                      </div>
                      <div class="col-xs-6 divAboutLinks divVentasNom">
                        <b><label class="labelVentasNom">Francisco Chiesa</label></b>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 divAboutLinks">
                        <label class="labelDisenio">Diseño</label>
                      </div>
                      <div class="col-xs-6 divAboutLinks">
                        <label class="labelVentas">Ventas</label>
                      </div>
                    </div>
                  </p>
               </div>
          </div>
      </div>
    </div>
  </div>

  <!--FIN ABOUT-->

  <!--INICIO PROYECTOS-->

  <div class="row">
    <div class="col-md-12">
      <div id="sProyectos">
          <div class="col-md-4 proyectosLeft">
              <img class="img-responsive" ng-src="images/resources/idea.png" style="max-width:122px;"/>
          </div>
          <div class="col-md-8 proyectosRight font-paragraph">
            <div class="insideProyectosRight">
                <label class="font-title">Proyectos</label>
                <!--<p>
                  Cada uno de nuestros proyectos de souvenirs está pensado y diseñado, según el evento que se conmemora y las características del homenajeado, eso los hace <span style="font-weight:bold">únicos y especiales.</span>
                </p>-->
                <p>
                  Cada uno de los proyectos que afrontamos está pensado y diseñado según el evento que se realice y las preferencias de cliente, eso los vuelve <span style="font-weight:bold">únicos y especiales.</span>
                </p>
              </div>
          </div>
      </div>
    </div>
  </div>

  <!--FIN PROYECTOS-->

  <!--INICIO PORTADAS PROYECTOS-->

  <div class="row" style="background-color:#000000;">
    <div id="proyectosPortadas" class="col-md-12">
      <div id="portada{{proyecto._id}}" name="{{proyecto._id}}" class="proyectoImage col-md-4" ng-repeat="proyecto in proyectos" ng-mouseover="efectoIn(proyecto._id)" ng-mouseleave="efectoOut(proyecto._id)">
        <a id="{{proyecto._id}}" style="text-decoration:none" href="" ng-click="openProyect(proyecto._id)">
          <img class="img-responsive" ng-src='uploads/portadas/{{proyecto.foto_portada}}' style="max-width: 426px !important; max-height: 415px !important;"/>
        </a>
        <span id="span{{proyecto._id}}" class="proyectoImageHover" ng-click="openProyect(proyecto._id)" style="opacity:0">
          <label class="nombreProyectos">{{proyecto.nombre}}</label>
        </span>
      </div>
    </div>
  </div>

  <!--FIN PORTADAS PROYECTOS-->

  <!--INICIO CONTACTO-->

  <div class="row">
    <div class="col-md-12">
      <div id="contacto">
          <div class="contactoLeft col-md-4">
              <img src="../images/resources/contacto.png" style="width:123px;"/>
          </div>
          <div class="contactoRight font-paragraph col-md-8">
              <p>
                <label class="font-title">Contacto</label>
              </p>
              <p class="font-mail">
                <a href="https://mail.google.com/mail/u/2/#inbox?compose=new" target="_blank">
                  info@cranner.com.ar
                </a>
              </p>
          </div>
      </div>
    </div>
  </div>
  <!--FIN CONTACTO-->

  <!--INICIO BOTTOM NAVBAR-->

  <nav class="navbar navbar-static-bottom navbar-nomargin">
    <div class="container-fluid nav-container-orange">
      <div class="navbar-header">
        <a class="navbar-brand brand-footer" href="">
          <img src="../images/resources/logo_footer.png"/>
        </a>
      </div>
      <ul id="ulNavBarFooter" class="nav navbar-nav navbar-nav-custom-orange navbar-cranner-footer">
        <li class="font-nav-bar"><a style="color:#000000;text-decoration:none;" href="" ng-click="gotoAbout()">NOSOTROS</a></li>
        <li class="font-nav-bar"><a style="color:#000000;text-decoration:none;" href="" ng-click="gotoProyectos()">PROYECTOS</a></li>
        <li class="font-nav-bar"><a style="color:#000000;text-decoration:none;" href="" ng-click="gotoContacto()">CONTACTO</a></li>
      </ul>
    </div>
  </nav>

  <!--FIN BOTTOM NAVBAR-->
</div>

<!-- MODAL -->

<script type="text/ng-template" id="detalleProyectoModal">
  <div class="modal-dialog proyecto-modal">
    <div class="modal-header detalleProyectoModalHeader">
      <button type="button" class="close detalleProyectoModalCloseButton" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div id="detalleProyectoModalBody" style="float:left;width:100%;">
      <div class="descripcionProyecto">
        <div class="descripcionProyectoLeft">
        </div>
        <div class="descripcionProyectoRight font-paragraph">
          <label class="font-title detalleProyectoModalTitle">{{detProyecto.nombre}}</label>
          <p>{{detProyecto.descripcion}}</p>
        </div>
      </div>
      <div class="descripcionProyectoImagenes" ng-repeat="grupo in gruposImagenes">
        <div ng-repeat="imagen in grupo.imagenes">
          <img ng-if="grupo.tipoGrupo==1" ng-src="uploads/{{imagen.filename}}" class="imagenTipoGrupo1"/>
          <img ng-if="grupo.tipoGrupo==2" ng-src="uploads/{{imagen.filename}}" class="imagenTipoGrupo2"/>
          <img ng-if="grupo.tipoGrupo==3 && imagen.principal==1" ng-src="uploads/{{imagen.filename}}" class="imagenTipoGrupo3Ppal"/>
          <img ng-if="grupo.tipoGrupo==3 && imagen.principal==0" ng-src="uploads/{{imagen.filename}}" class="imagenTipoGrupo3"/>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal-dialog -->
</script>
<!-- FIN MODAL -->
